:root {
    --branding-color:  #000000;
    --secondary-color: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    --heading-font-family: "Gloock", serif;
    --default-font-family: "Gowun Dodum", sans-serif;
    --secondary-font-family: "Caveat", cursive;
  }
  
  body {
    font-family: var(--default-font-family);
  }
  .black {
    background-color: #000000;
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: normal;
  }
  
  h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  
  h2 {
    font-size: 64px;
  }
  
  h3 {
    font-size: 48px;
  }
  
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  
  p.index {
    color: #000000;
    background: #ffffff;
  }

  .hero {
    text-align: center;
    padding: 80px 20px;
  }
  
  .services {
    font-family: var(--heading-font-family);
    margin: auto;
    padding: 40px;
  }

  .services h1 {
    text-align: left;
    font-size: 45px;
    color: #000000;
  }

  .services p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    padding-right: 0;
    padding-top: 15px;
    font-family: var(--default-font-family);
  }

  .hero p {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    font-family: var(--secondary-font-family);
  }

  .hero h1 {
    color: #ffffff;
  }
  
  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
    color: #e3e3e3;
  }

  .hero h2.index {
    font-size: 40px;
    font-family: var(--secondary-font-family);
  }
  
  .about h1 {
    font-size: 50px !important;
  }

  .about p {
    font-size: 20px !important;
  }

  .content h1.work {
    font-size: 55px !important;
  }

  .content-container {
    padding: 60px 20px;
  }
  
  .about h1, h2, h3, p {
    color: #ffffff;
  }

  .content h1 {
    font-size: 64px;
    line-height: 80px;
 
  }
  
  .content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);

  }
  
  .content h3 {
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    font-family: var(--default-font-family);

  }
  
  .content p {
    font-size: 14px;
   
  }

  div.index {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/159/693/original/web_banner.jpg?1741538894");
  }
  
  .content {
    margin: 30px;
  }
  
  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .about-btn {
    background-color: #ffffff;
    color: #000000;
  }

  .about-btn:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  .btn-branding:hover {
    background: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }

 .btn-branding-outline.index:hover {
    background: var(--branding-color);
    color: rgb(255, 255, 255);
  }

  .btn.btn-branding.index {
    background-color: rgba(146, 0, 0, 0.897);
  }
  
  .btn.btn-branding.index:hover {
    background-color: rgb(255, 255, 255);
  }
  

  .btn-branding-outline {
    background-color: black;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .btn-branding-outline:hover {
    background: rgba(146, 0, 0, 0.897) !important;
    color: rgb(255, 255, 255) !important;
  }
  
  .project-description {
    padding: 120px 60px;
  }
  
  .logo {
    max-height: 100px;
  
  }
  
  .img-fluid {
    max-width: 80%;
    height: auto;
}


  .text-muted{
    font-size: 25px;
    color: #000000 !important;
  }
  
  nav {
    padding: 20px 0;
  }

  nav.about a {
    color: #ffffff;
  }
  
  nav.index a {
    color: #ffffff;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    color: rgba(202, 31, 31, 0.897);
  }

  nav li.active a.index-home {
    color: rgba(202, 31, 31, 0.897);
  }

  nav a.index:hover {
    color: rgba(202, 31, 31, 0.897);
  }

  footer {
    margin: 60px 0;
  }
  
  footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
  }

  footer .contact-box h3 {
    color: #ffffff;
  }

  footer .contact-box .text-muted {
    color: #e3e3e3 !important;
  }
  
  footer .contact-box p {
    margin: 0;
  }
  
  footer .email-link {
    text-decoration: none;
    color: var(--branding-color);
    font-size: 24px;
  }

  .about-email a {
    color: #ffffff;
  }
  
  footer .email-link:hover {
    color: rgba(213, 0, 0, 0.897);
  }
  
  footer .social-links a {
    margin: 0 20px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-size: 18px;
    transition: all 100ms ease-in-out;
  }

  footer .about a {
    color: white;
    background: rgb(0, 0, 0);
  }
  
  footer .social-links a:hover {
    background: white;
  }
  
  @media (max-width: 900px) {
    h1 {
      font-size: 40px;
      line-height: 1.5;
    }
  
    h2 {
      font-size: 30px;
    }
  
    h3 {
      font-size: 26px;
    }
    
    .hero h1{
      font-size: 47px;
    }
    
    .hero h2{
      font-size: 17spx;
    }

    .hero p {
    font-size: 30px;
    font-weight: normal;
    }

    .content {
      text-align: center;
      padding: 0;
    }
  
    .content h1 {
      font-size: 40px;
    }

    .project-description {
      padding: 0;
      text-align: center;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
  }
  .text-muted{
    font-size: 18px;
  }
  }